<template>
  <q-page class="q-pa-md">
    <q-list
    separator
    bordered>

       <Articulo
          v-for="(producto, key) in productos"
        :key="key"
        :producto="producto"
        :id="key">
       </Articulo>

      </q-list>
    <div>
      <AgregarProducto></AgregarProducto>
      <h3>Su carrito actual es:</h3>
      <VerCarrito></VerCarrito>
      <hr />
      <EstadoCarrito></EstadoCarrito>
      <hr />
      <h3>Los productos disponibles:</h3>
      <ListaProductos></ListaProductos>
    </div>
  </q-page>
</template>

<script>
import AgregarProducto from 'components/AgregarProducto'
import VerCarrito from 'components/VerCarrito'
import EstadoCarrito from 'components/EstadoCarrito'
import ListaProductos from 'components/ListaProductos'
import Articulo from 'components/Articulo'
import { mapGetters } from 'vuex'

export default {
  name: 'Carrito',
  computed: {
    ...mapGetters({ productos: ['productos'] }
    )
  },
  components: {
    AgregarProducto,
    VerCarrito,
    EstadoCarrito,
    ListaProductos,
    Articulo
  }
}
</script>
