<template>
  <q-page flex class="col" color="bg-orange-5">
      <div class="row justify-center q-gutter-xs">
        <div class="col-3">
          <q-card class="my-card">
          <img alt="Quasar logo" src="~assets/Logo_grande.jpg" width="293" height="339" />
          </q-card>
        </div>
        <div class="col-5 self-center col-md">
          <q-card class="my-card" flat bordered>
              <q-card-section horizontal>
                <q-card-section>
                    {{ nutricion }}
                </q-card-section>
                <q-img class="col-5" src="~assets/nutricion.jpeg" width="255" height="255"/>
              </q-card-section>
          </q-card>
          <br/><br/>
        </div>
      </div>
       <q-banner inline-actions class="text-white bg-primary"></q-banner>
      <div class="row justify-center q-gutter-xs">
        <br/><br/>
        </div>
      <div class="row justify-center items-center">
           <div class="col-xs-12 col-sm-6 col-md-4">
              <q-parallax :height="600" :speed="0.5">
                <template v-slot:media>
                  <img src="~assets/Batido5.jpeg" width="600" height="900">
                </template>
                  <h1 class="text-green text-center">Nuestros Smoothies</h1>
              </q-parallax>
            </div>
      </div>
      <div class="row gutter wrap justify-stretch content-center text-center ">
          <div class="col" style="height: 120px" >
            <q-banner rounded class="bg-green-1 text-green" >
            <h2>Nuestro Local</h2>
            <p/>
            </q-banner>
          </div>
      </div>
      <div class="row justify-center">
          <div class="col-xs-12 col-sm-6 col-md-6 items-center">
            <div class="q-pa-sm">
              <q-carousel
                swipeable
                animated
                v-model="slide"
                thumbnails
                infinite
              >
                <q-carousel-slide :name="1" img-src="~assets/Local1.jpeg" />
                <q-carousel-slide :name="2" img-src="~assets/Local2.jpeg" />
                <q-carousel-slide :name="3" img-src="~assets/Local3.jpeg" />
              </q-carousel>
            </div>
          </div>
      </div>
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',
  data () {
    return {
      slide: 1,
      nutricion: 'Una nutrición adecuada y equilibrada proporciona los nutrientes que necesita todos los días para alimentar sus actividades diarias, promover y mantener una vida de buena salud y hacer realidad su mejor forma. La nutrición adecuada es una nutrición equilibrada. Comprometerse con estas pautas nutricionales simples puede poner la buena salud al alcance.'
    }
  }
}
</script>
