<template>
  <q-page flex class="column"> <!-- "flex flex-center" -->
      <div class="row justify-center q-gutter-xs">
        <div class="col-5">
          <q-card class="my-card">
          <img alt="Quasar logo" src="~assets/Logo_grande.jpg" width="293" height="339" />
          </q-card>
        </div>
        <div
          class="col-5 self-center col-md"
        ><q-card class="my-card">Una nutrición adecuada y equilibrada proporciona los nutrientes que necesita todos los días para alimentar sus actividades diarias, promover y mantener una vida de buena salud y hacer realidad su mejor forma. La nutrición adecuada es una nutrición equilibrada. Comprometerse con estas pautas nutricionales simples puede poner la buena salud al alcance.
          </q-card></div>
              <q-card class="my-card" flat bordered>
      <q-card-section horizontal>
        <q-card-section>
          {{ lorem }}
        </q-card-section>

        <q-img
          class="col-5"
          src="https://cdn.quasar.dev/img/parallax2.jpg"
        />
      </q-card-section>
    </q-card>
      </div>
      <div class="row justify-center items-center">
          <div class="col-xs-12 col-sm-6 col-md-6 items-center">
              <p/>
            </div>
           <div class="col-xs-12 col-sm-6 col-md-6 items-center">
              <q-parallax :height="600" :speed="0.5">
                <template v-slot:media>
                  <img src="~assets/Batido1.jpeg" width="600" height="800">
                </template>
                  <h1 class="text-white">Smoothie</h1>
              </q-parallax>
            </div>
      </div>
      <div class="row justify-center items-center">
          <div class="col-xs-12 col-sm-6 col-md-4" style="height: 150px" >
            <h2>Nuestro Local</h2>
            <p/>
          </div>
      </div>
      <div class="row justify-center">
          <div class="col-xs-12 col-sm-6 col-md-6 items-center">
            <div class="q-pa-sm">
              <q-carousel
                swipeable
                animated
                v-model="slide"
                thumbnails
                infinite
              >
                <q-carousel-slide :name="1" img-src="~assets/Local1.jpeg" />
                <q-carousel-slide :name="2" img-src="~assets/Local2.jpeg" />
                <q-carousel-slide :name="3" img-src="~assets/Local3.jpeg" />
              </q-carousel>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          col
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          col
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          col
        </div>
      </div>
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',
  data () {
    return {
      slide: 1,
      lorem: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
    }
  }
}
</script>
