<template>
  <q-item
    @click="productos.completed = !productos.completed"
    :class="!productos.completed ? 'bg-orange-2' : 'bg-green-2'"
    clickable
    v-ripple>
    <q-item-section side top>
      <q-checkbox keep-color color="orange" v-model="productos.completed" />
    </q-item-section>
      <q-item-section side top>
        <q-item-label>
          <div class="row">
            <div class="col">
            {{ productos.state }}
            </div><div class="col-md">
            {{ productos.categoria }}
            </div>
          </div>
        </q-item-label>
      </q-item-section>
    </q-item>
 </template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({ productos: ['productos'] }
    )
  }
}
</script>
<style>

</style>
