<template>
  <div>
    <!-- <h3>Total Unidades: {{ unidades }} - Cantidad Productos {{ productos }} </h3> -->
    <h3>Total Unidades: {{ totalCantidadCarrito }} - Cantidad Productos {{ cantidadItems }} </h3>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'EstadoCarrito',
  computed: {
    ...mapGetters([
      'totalCantidadCarrito',
      'cantidadItems'
    ])
  }
  // computed: {
  //   unidades () {
  //     return this.$store.getters.totalCantidadCarrito
  //   },
  //   productos () {
  //     return this.$store.getters.cantidadItems
  //   }
  // }
}
</script>
