<template>
  <div>
    <div>
      <ul>
        <li v-for="item in items" v-bind:key="item.description" >
          {{ item.description }} - {{ item.price }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ListaProductos',
  computed: {
    items: function () {
      return this.$store.state.cart.products
    }
  }
}
</script>
