<template>
  <div>
    <div>
      <ul>
        <li v-for="item in items" v-bind:key="item.productName" >
          {{ item.productName }} - {{ item.quantity }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'VerCarrito',
  computed: {
    items: function () {
      window.miapp = this
      return this.$store.state.cart.cart
    }
  }
}
</script>
