<template>
  <q-layout view="hHh lpR fFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title>
          Healthy Spot
        </q-toolbar-title>
        <q-tabs class="q-pa-xs">
          <q-tab name="mails" icon="mail" size="10px" />
      </q-tabs>
        <div>Quasar v{{ $q.version }}</div>
      </q-toolbar>
    </q-header>

    <q-footer>
      Derechos reservados
      <!--<q-tabs>
        <q-tab class="q-xs" nombre="contactenos" icon="mail" label="Mail"/>
      </q-tabs> -->
    </q-footer>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <q-list>
        <q-item-label
          header
          class="text-grey-8"
        >
          Accesos Directos
        </q-item-label>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink'

export default {
  name: 'MainLayout',

  components: {
    EssentialLink
  },

  data () {
    return {
      leftDrawerOpen: false,
      essentialLinks: [
        {
          title: 'Home',
          caption: 'Pagina Principal',
          icon: 'home',
          link: '/'
        },
        {
          title: 'Cart',
          caption: 'Carrito Compras',
          icon: 'shopping_cart',
          link: '#/carrito'
        },
        {
          title: 'Checkout',
          caption: 'Checkout',
          icon: 'store',
          link: '#/checkout'
        },
        {
          title: 'Recetas',
          caption: 'Nuestras Recetas',
          icon: 'food_bank',
          link: '#/pruebas'
        },
        {
          title: 'Fitness',
          caption: 'Ejercicios',
          icon: 'fitness_center',
          link: '#/pruebas'
        },
        {
          title: 'Instagram',
          caption: '@healthy_spot',
          icon: 'rss_feed',
          link: 'https://www.instagram.com/'
        },
        {
          title: 'Facebook',
          caption: '@healthy_spot',
          icon: 'public',
          link: 'https://www.facebook.com'
        },
        {
          title: 'Nostros',
          caption: 'Para saber mas sobre Nosotros',
          icon: 'favorite',
          link: 'https://www.google.com'
        }
      ]
    }
  }
}
</script>
